*{
    margin: 0;
    padding: 0;
}
body {
    background-color: #003152;
}
h1{
    color: white;
    font-size: 5rem;
    margin-bottom: 3rem;
}

/* login page */
.loginSection{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.loginMain{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 30vw;
}
input{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 2rem;
}
/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 2rem;
}
input:autofill{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 2rem;
}